.sign-up-box {
    background-color: linen;
    height: 500px;
    width: 800px;
    margin: auto;
    border-radius: 15px;
}

.signup-input {
    margin: 20px !important;
}

.sign-up-submit {
    background-color: black !important;
}

.house-icon {
    margin: auto 0px;
}

.error-text {
    margin: 10px 0px;
}